      .left{
        float:left;
      }
      .nav{
        float: right;
        margin-top: -50px;
        margin-right: 5%;
      }
      h1{
        margin-left: 5%;
      }
      .logout{margin-left: 10px;}